<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.title %> | Chef Style Guide</title>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' %>
    <%= stylesheet_link_tag 'chef-web-core' %>
    <%= stylesheet_link_tag 'github' %>
    <%= stylesheet_link_tag 'guide' %>
  </head>
  <body>
    <%= partial 'layouts/header' %>
    <div class="row">
      <div class="large-3 medium-4 columns">
        <%= partial 'layouts/side-nav' %>
      </div>
      <div class="large-6 medium-8 columns">
        <%= yield %>
      </div>
      <div class="large-3 medium-8 columns">
        
      </div>
    </div>
    <%= partial 'layouts/footer' %>
    <%= partial 'layouts/js' %>
  </body>
</html>
