<footer>
  <div class="container">
    <div class="row">
      <div class="span12 col-md-12">
        <div>
          <div class="row social-media-row">
            <div class="span3 col-md-3">
              <div class="text-center social-media facebook">
                <a href="<%= chef_facebook_url %>" class="facebook">
                  Facebook
                </a>
              </div>
            </div>
            <div class="span3 col-md-3">
              <div class="text-center social-media facebook">
                <a href="<%= chef_twitter_url %>" class="twitter">
                  Twitter
                </a>
              </div>
            </div>
            <div class="span3 col-md-3">
              <div class="text-center social-media facebook">
                <a href="<%= chef_youtube_url %>" class="youtube">
                  YouTube
                </a>
              </div>
            </div>
            <div class="span3 col-md-3">
              <div class="text-center social-media facebook">
                <a href="<%= chef_linkedin_url %>" class="linkedin">
                  LinkedIn
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span3 col-md-3">
              <h5>
                Products
              </h5>
              <ul>
                <li>
                  <a href="<%= chef_www_url('chef/') %>">Chef</a>
                </li>
              </ul>
              <h5>
                Legal
              </h5>
              <ul>
                <li>
                  <a href="<%= chef_www_url('terms-of-service/') %>">
                    Terms and Conditions of Use
                  </a>
                </li>
                <li>
                  <a href="<%= chef_www_url('privacy-policy/') %>">
                    Privacy Policy
                  </a>
                </li>
                <li>
                  <a href="<%= chef_www_url('online-master-agreement/') %>">
                    Online Master License and Services Agreement
                  </a>
                </li>
                <li>
                  <a href="<%= chef_www_url('service-level-agreement/') %>">
                    Service Level Agreement
                  </a>
                </li>
                <li>
                  <a href='https://github.com/opscode/chef/blob/master/CONTRIBUTING.md'>
                    Contributor License Agreements
                  </a>
                </li>
                <li>
                  <a href="<%= chef_www_url('trademark-policy/') %>">
                    Trademark Policy
                  </a>
                </li>
              </ul>
            </div>
            <div class="span3 col-md-3">
              <h5>
                Solutions
              </h5>
              <ul>
                <li>
                  <a href="<%= chef_www_url('solutions/aws/') %>">Amazon Web Services</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/cloud-management/') %>">Cloud Management</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('coded-business/') %>">Coded Business</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/configuration-management/') %>">Configuration Management</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/docker/') %>">Containers</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/continuous-delivery/') %>">Continuous Delivery</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/devops/') %>">DevOps</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/google-cloud-platform/') %>">Google Cloud Platform</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/azure/') %>">Microsoft Azure</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('services/') %>">Professional Services</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/vmware/') %>">VMware</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/web-scale-it/') %>">Web-Scale IT</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('solutions/windows/') %>">Windows</a>
                </li>
              </ul>
            </div>
            <div class="span3 col-md-3">
              <h5>
                Support
              </h5>
              <ul>
                <li>
                  <a href="<%= chef_docs_url %>">Documentation</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('support/') %>">Support</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('security/') %>">Security</a>
                </li>
                <li>
                  <a href="<%= learn_chef_url %>">Learn Chef</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('training/') %>">Training</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('webinars/') %>">Webinars</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('community/') %>">Community Resources</a>
                </li>
              </ul>
            </div>
            <div class="span3 col-md-3">
              <h5>
                About Us
              </h5>
              <ul>
                <li>
                  <a href="<%= chef_blog_url %>">Blog</a>
                </li>
                <li>
                  <a href="<%= chef_blog_url('media-room/') %>">Media Room</a>
                </li>
                <li>
                  <a href="<%= chef_blog_url('events/') %>">Events</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('about/') %>">Company</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('careers/') %>">Careers</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('customers/') %>">Success with Chef</a>
                </li>
                <li>
                  <a href="<%= chef_www_url('partners/') %>">Partners</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row bottom" style="padding-top: 50px;">
            <div class="span12 col-md-12">
              <div class="copyright">&copy; 2008&ndash;2014 Chef Software, Inc. All Rights Reserved.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
