---
title: Chef Web Guild
---
<h1>Chef Web Guild</h1>

<p class="lead">The Chef Web Guild is a group of web professionals employed by
  Chef Software, Inc. Our purpose is to improve the quality of web-based
  software in the Chef ecosystem and increase our knowledge and skill related to
  these technologies.</p>
<p>This page is primarily for members of the guild. If you're not a member or a
  Chef Software employee, you may not be able to see the pages linked to here.
</p>
<p>You can post messages to the
  guild at <%= link_to "web-guild@chef.io" , "mailto:web-guild@chef.io" %>.
</p>
<ul>
  <li><%= link_to "Google group", "https://groups.google.com/a/chef.io/forum/#!forum/web-guild" %></li>
  <li><%= link_to "GitHub team", "https://github.com/orgs/chef/teams/web-guild" %></li>
  <li><%= link_to "Monthly 'Web Guild Conclave' meeting", "https://www.google.com/calendar/event?action=TEMPLATE&tmeid=c2thNWxoY3JiazYybzk3OWZ2M2c0NjU4Nm9fMjAxNTA3MDFUMTgzMDAwWiBzbWl0aEBjaGVmLmlv&tmsrc=smith%40chef.io" %></li>
  <li><%= link_to "Web Guild Slack channel", "https://chefio.slack.com/messages/web-guild/" %></li>
</ul>
