---
title: Getting Started
---

<h1>Getting Started</h1>
<p class="lead">
  Our goal is to make the Chef Style Guide as easy to use as possible. Here's what you
  need to know to get going.
</p>
<h3>Ruby</h3>
<p>
  If you're running in a Ruby environment with Bundler and <a href="https://github.com/sstephenson/sprockets">Sprockets</a>,
  add the following line to your <code>Gemfile</code> to install from the <code>master</code> branch:
</p>
<p>
  <pre>gem 'chef-web-core', git: 'https://github.com/chef/chef-web-core.git'</pre>
</p>
<p>
  To install a particular version, specify it by tag:
</p>
<p>
  <pre>gem 'chef-web-core', git: 'https://github.com/chef/chef-web-core.git', tag: '<%= current_version %>'</pre>
</p>
<p>
  Then <code>bundle</code> to install. Once you've done that, you'll be able to include 
  the all of the Sass and JavaScript components in your app using standard Sprockets directives.
  For example, to include all of our CSS components, add the following line to your main <code>.scss</code> file:
</p>
<p>
  <pre>@import 'chef';</pre>
</p>
<p>
  Several components require JavaScript as well, so you'll want to include those modules 
  also (e.g., in your main <code>.js</code>):
</p>
<p>
  <pre>//= require chef</pre>
</p>
<p>
  Alternatively, you can include only those components you want:
</p>
<p>
  <pre>@import 'chef/components/top-bar';
@import 'chef/components/side-nav';</pre>
</p>
<p>
  ...along with their individual JavaScript counterparts:
</p>
<p>
  <pre>//= require chef/components/top-bar
//= require chef/components/side-nav</pre>
</p>
<p>
  Once you've imported some assets, you should be able to start putting markup into your pages and 
  have their styles and behaviors appear automatically. If you're using any JavaScript components, 
  be sure to initialize them at the end of your document &mdash; usually just before your closing 
  <code>body</code> tag:
</p>
<p>
  <pre>    ...
    &lt;script&gt;
      $(document).chef();
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
</p>

<h3>Node.js</h3>
<p>
  We deploy our builds to <%= link_to 'GitHub Releases', "#{repo_url}/releases" %>, so you can install our Node.js package directly from 
  there. Just specify the version you'd like to install in your <code>package.json</code>:
</p>
<p>
  <pre>{
  ...
  "dependencies": {
    "chef-web-core": "<%= download_url %>"
  }
  ...
}</pre>
</p>
<p>
  ... and then <code>npm install</code>. That'll get you a module with a <code>dist</code> directory containing all 
  of the fonts, images, Sass and compiled JavaScript &amp; CSS comprising the guide for 
  use in your app.
</p>

<h3>Via CDN</h3>
<p>
  If neither of these options works for you, you can always just load your preferred version over the network:
</p>
<p>
  <pre>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    ...
    &lt;link rel="stylesheet" href="//style.chef.io/dist/<%= current_version %>/stylesheets/chef.css"&gt;
    &lt;script src="//style.chef.io/dist/<%= current_version %>/javascripts/chef.js"&gt;
    ...</pre>
</p>

<h3>Download</h3>
<p>
  Download the current version (containing everything) below. Keep up with future versions on 
  <%= link_to 'our Github Releases page', "#{repo_url}/releases" %>.
</p>
<p>
  <a href="<%= download_url %>" class="button secondary" target="_blank">
    <i class="fi-download"></i>
    Chef Style <%= current_version %>
  </a>
</p>

<h2>Example</h2>
<p>
  Here's a sample document you can use to get up and running quickly.
</p>
<pre>&lt;!DOCTYPE html&gt;
&lt;html class="no-js" lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;script src="https://style.chef.io/dist/0.1.8/javascripts/vendor/modernizr.js"&gt;&lt;/script&gt;
    &lt;link rel="stylesheet" href="https://style.chef.io/dist/<%= current_version %>/stylesheets/chef.css"&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;a class="logo"&gt;&lt;/a&gt;
    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://style.chef.io/dist/<%= current_version %>/javascripts/chef.js"&gt;&lt;/script&gt;
    &lt;script&gt;
      $(document).chef({
        assets: {
          images: 'https://style.chef.io/assets/images'
        }
      });
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
